<h2 mat-dialog-title>Edit Metadata</h2>

<mat-dialog-content>
  <div class="form-container">
    <mat-form-field class="form-inputs">
      <mat-label>Metadata Title</mat-label>
      <input matInput [(ngModel)]="metaTitle">
    </mat-form-field>
    <mat-form-field class="form-inputs">
      <mat-label>Metadata Description</mat-label>
      <textarea matInput [(ngModel)]="metaDescription"></textarea>
    </mat-form-field>
    <div *ngIf="errorMessage">
      <span class="error-message">{{errorMessage}}</span>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Close</button>
  <button class="mat-raised-button mat-primary"(click)="update()">Save and Update</button>
</mat-dialog-actions>
